.calculator {
    margin-bottom: 10px;
    text-align: center;
    width: 210px;
    color: rgb(248, 45, 9);
    border: solid black 2px;
    font-size: 20px;
}

input[type="button"] {
    background-color: rgb(47, 170, 47);
    color: black;
    border: solid black 2px;
    width: 100%
}

input[type="text"] {
    background-color: white;
    border: solid black 2px;
    width: 100%
}

body{
    background-color: black;
    margin-top: 250px;
    margin-left: 650px;
    margin-right: 650px;
    margin-bottom: 250px;
}

